nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1976d2;
}

nav h2 {
  color: white;
}

nav div {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.login {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login h2 {
  margin-bottom: 25px;
}

.login input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button {
  width: 97%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

.login button:hover {
  background-color: #125aa0;
}
.dashboard {
  padding: 40px;
  text-align: center;
}

.dashboard h1 {
  color: #1976d2;
  margin-bottom: 10px;
}

.dashboard-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.card {
  width: 200px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
  color: #1976d2;
}

.card p {
  color: #555;
}
.doctors {
  margin-top: 40px;
  text-align: center;
}

.doctor-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.doctor-card {
  width: 180px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.doctor-card h3 {
  color: #1976d2;
}

.doctor-card p {
  color: #555;
}